<section class="team-gallery_holder">
    <h2 class="gallery-grid_heading">Team Recommen</h2>
    <ul class="team-gallery">
        <li class="team-member">
            <a href="https://softuni.bg/users/profile/show/aanguelov" target="_blank">
                <img src="img/aanguelov.jpeg">
                <h3>Alexander Anguelov</h3>
            </a>
        </li>
        <li class="team-member">
            <a href="https://softuni.bg/users/profile/show/gartin" target="_blank">
                <img src="img/mgeorgiev.jpeg">
                <h3>Martin Georgiev</h3>
            </a>

        </li>
        <li class="team-member">
            <a href="https://softuni.bg/users/profile/show/malkstor" target="_blank">
                <img src="img/atahchiyski.jpeg">
                <h3>Asen Tahchiyski</h3>
            </a>

        </li>
        <li class="team-member">
            <a href="https://softuni.bg/users/profile/show/moholovka" target="_blank">
                <img src="img/imladenov.jpeg">
                <h3>Ivan Mladenov</h3>
            </a>

        </li>
        <li class="team-member">
            <a href="https://softuni.bg/users/profile/show/trysth" target="_blank">
                <img src="img/asantev.jpeg">
                <h3>Asen Santev</h3>
            </a>

        </li>
    </ul>
</section>
