<section class="login-section">
    <div class="forms-holder">
        <article class="login-form">
            <h3>Not a member yet?</h3>
            <div class="register" id="register-form">
                <label for="register-username"> Username: </label>
                <input type="text" id="register-username"><br>
                <label for="register-password">Password: </label>
                <input type="password" id="register-password"><br>
                <button id="register-button">Register</button>
            </div>
        </article>
        <article class="login-form">
            <h3>Login</h3>
            <div class="register" id="login-form">
                <label for="login-username"> Username: </label>
                <input type="text" id="login-username"><br>
                <label for="login-password">Password: </label>
                <input type="password" id="login-password"><br>
                <button id="login-button">Login</button>
            </div>
        </article>
    </div>
</section>